@import '~@angular/material/theming';

.children-card-header {
  background-image: url('../resources/images/kid-icon.png');
  background-size: cover;
}
.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}

::ng-deep.mat-card-header-text {
  color: black !important;
}

.booking-card-header-click{
  padding-bottom: 50px;
}

.floating-button{
  position: absolute;
  right: 50px;
  bottom: 30px;
}

::ng-deep.mat-dialog-container{
  padding: 0 !important;
}

.stepper-layout{
  background-color: transparent;
}
