.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

::ng-deep.mat-dialog-container{
  padding: 0 !important;
}
.mat-stepper-vertical{
  background-color: transparent;
}
.mat-card-header{
  font-family: 'Blinker', sans-serif;
  font-size: x-large;
}

.floating-button{
  position: absolute;
  right: 110px;
}
