<div fxLayoutAlign="center start" fxLayout="row" fxLayoutGap="20px" fxFlexFill>
    <table mat-table [dataSource]="messages" class="mat-elevation-z8" fxFill="90">
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Ora </th>
            <td mat-cell *matCellDef="let mess" [class.readmessage-color]="!mess.read">{{ mess.timestamp*1000 | date: 'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="messaggio">
            <th mat-header-cell *matHeaderCellDef> Messaggio </th>
            <td mat-cell *matCellDef="let mess" [class.readmessage-color]="!mess.read">{{ mess.body }}</td>
        </ng-container>
        <ng-container matColumnDef="read">
            <th mat-header-cell *matHeaderCellDef>Letto</th>
            <td mat-cell *matCellDef="let mess"  [class.readmessage-color]="!mess.read" >
                <button [disabled]="mess.read" mat-icon-button (click)="readMessage(mess)">
                    <mat-icon *ngIf="!mess.read">check_circle_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Elimina</th>
            <td mat-cell *matCellDef="let mess" [class.readmessage-color]="!mess.read" >
                <button mat-icon-button (click)="deleteMessage(mess)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!--<mat-list *ngFor="let mess of messages">-->
      <!--<mat-list-item>-->
        <!--{{ mess.body }}-->
          <!--<mat-divider></mat-divider>-->
      <!--</mat-list-item>-->
    <!--</mat-list>-->
</div>
