<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="20" fxFlex.xs="30" class="mat-elevation-z6 mat-card-style">
    <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <form [formGroup]="loginForm" (ngSubmit) = "onSubmit()">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Email" name="email" formControlName="email" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
            </mat-form-field></td>
          </tr></table>
          <mat-card-actions fxLayoutAlign="center center">
              <button mat-raised-button (click)="login()" color="primary">Login</button>
          </mat-card-actions>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>

  </mat-card>
</div>