<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="40" fxFlex.xs="100" class="mat-elevation-z6 mat-card-style">
    <mat-card-header>
      <mat-card-title>Registrazione</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="myContainer">
        <form [formGroup]="registrationAdminForm" (ngSubmit) = "onSubmit()">    
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field  fxFlex="100">
              <input matInput placeholder="Inserire la mail" formControlName="email" (change)="checkEmailPresence()" required>
              <mat-error *ngIf="registrationAdminForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>      
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <!--<mat-form-field  fxFlex="100">
              <label>Scegli il ruolo da assegnare</label>
              <mat-radio-group class="my-radio-group" formControlName="role">
                <mat-radio-button class="my-radio-button" *ngFor="let role of roles" [value]="role">
                  {{role}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="registrationAdminForm.controls.role.invalid">{{getRolesErrorMessage()}}</mat-error>      
            </mat-form-field>
            <label>Seleziona il ruolo da assegnare</label>-->
            <mat-form-field fxFlex="100">
              <mat-select placeholder="Seleziona il ruolo da assegnare" formControlName="role" (selectionChange)="manageRole($event)" required>
                <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div  *ngIf="this.registrationAdminForm.controls.role.value == 'Amministratore'" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field fxFlex="100">
              <mat-select placeholder="Seleziona la linea da assegnare" formControlName="line">
                <mat-option *ngFor="let line of lines" [value]="line">{{ line }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-card-actions>
              <button mat-raised-button color="primary">REGISTER</button>
          </mat-card-actions>
       </form>
       <span *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>




