<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change your password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: linear-gradient(to right, rgb(23,194,233), rgba(0,0,255,1));">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Set a new password</h4>
                </header>
                <article class="card-body">
                    <form method="post" th:action="@{/recover/} + ${token}"  th:object="${request}">
                        <div class="form-group">
                            <label th:for="pass1">New Password</label>
                            <input type="password" class="form-control" placeholder="Enter the new password" th:field="*{pass1}">
                        </div>
                        <div class="form-group">
                            <label th:for="pass2">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm the new password" th:field="*{pass2}">
                        </div>
                        <div th:field="*{token}"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->








</div>

</body>
</html>