@import '~@angular/material/theming';
[hidden] { display: none !important;}
.mytabclass {
    overflow-y: auto ;
    max-height: 500px;
}

[hidden] { display: none !important;}

::ng-deep.mat-paginator-range-label {
    display: none !important;
}

.map-style {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.map-card{
    margin-right: 10px;
}

::ng-deep.mat-paginator {
    background: transparent;
}

::ng-deep.mat-paginator-container {
    align-items: flex-end !important;
}

